<router-outlet></router-outlet>

<!--ng add @fortawesome/angular-fontawesome@<version>-->
<!--sudo ng add @ng-bootstrap/ng-bootstrap-->
<!--sudo npm i --save-dev @types/jquery-->
<!--sudo ng add angular-datatables-->

<!--npm install jquery --save
npm install datatables.net --save
npm install datatables.net-dt --save
npm install angular-datatables --save
npm install @types/jquery --save-dev
npm install @types/datatables.net --save-dev

sudo npm i angular-datatables
sudo ng g interceptor interceptor/jwt
sudo ng g interceptor interceptor/error

ng g p pipes/SortSpecialist

ng g c hospital/components/contact --module=hospital/modules/contact/contact.module.ts
-->

<!--sudo ng g m modules/admin/view --routing
sudo ng g c components/admin/view --module=modules/admin/view/view.module.ts
-->

<!--
ng g m hospital/modules/home
ng g m hospital/modules/login
ng g m hospital/modules/admin

ng g m hospital/modules/pageNotFound
ng g m hospital/modules/about
ng g m hospital/modules/contact
ng g c hospital/components/home

ng g m hospital/modules/patient/view
ng g m hospital/modules/patient/create
ng g m hospital/modules/patient/update
ng g m hospital/modules/patient/history

ng g m hospital/modules/appointment/create
ng g m hospital/modules/appointment/update
ng g m hospital/modules/appointment/view

ng g m hospital/modules/doctor/view
ng g m hospital/modules/doctor/create
ng g m hospital/modules/doctor/update
ng g m hospital/modules/doctor/viewAppointments
ng g m hospital/modules/doctor/history

ng g m hospital/modules/admin/view
ng g m hospital/modules/admin/create
ng g m hospital/modules/admin/update
ng g m hospital/modules/admin/checkAllAppointments

ng g c hospital/components/home --module=hospital/modules/home/home.module.ts
ng g c hospital/components/patient/view --module=hospital/modules/patient/view/view.module.ts
ng g c hospital/components/patient/create --module=hospital/modules/patient/create/create.module.ts
ng g c hospital/components/patient/update --module=hospital/modules/patient/update/update.module.ts
ng g c hospital/components/patient/history --module=hospital/modules/patient/history/history.module.ts

ng g c hospital/components/doctor/view --module=hospital/modules/doctor/view/view.module.ts
ng g c hospital/components/doctor/create --module=hospital/modules/doctor/create/create.module.ts
ng g c hospital/components/doctor/update --module=hospital/modules/doctor/update/update.module.ts
ng g c hospital/components/doctor/viewAppointments --module=hospital/modules/doctor/view-appointments/view-appointments.module.ts
ng g c hospital/components/doctor/history --module=hospital/modules/doctor/history/history.module.ts

ng g c hospital/components/admin/view --module=hospital/modules/admin/view/view.module.ts
ng g c hospital/components/admin/create --module=hospital/modules/admin/create/create.module.ts
ng g c hospital/components/admin/update --module=hospital/modules/admin/update/update.module.ts
ng g c hospital/components/admin/checkAllAppointments --module=hospital/modules/admin/check-all-appointments/check-all-appointments.module.ts

ng g c hospital/components/admin --module=hospital/modules/admin/admin.module.ts

ng g c hospital/components/appointment/view --module=hospital/modules/appointment/view/view.module.ts
ng g c hospital/components/appointment/create --module=hospital/modules/appointment/create/create.module.ts
ng g c hospital/components/appointment/update --module=hospital/modules/appointment/update/update.module.ts

ng g c hospital/components/login --module=hospital/modules/login/login.module.ts
ng g c hospital/components/pageNotFound --module=hospital/modules/page-not-found/page-not-found.module.ts
ng g c hospital/components/about --module=hospital/modules/about/about.module.ts
ng g c hospital/components/contact --module=hospital/modules/contact/contact.module.ts
-->

<!--
sudo npm i jquery --save
sudo npm i datatables.net --save
sudo npm i datatables.net-dt --save
sudo npm i angular-datatables --save
sudo npm i @types/jquery --save-dev
sudo npm i @types/datatables.net --save-dev

sudo npm i bootstrap --save
-->

<!--
sudo npm i bootstrap --save
sudo npm i bootstrap-icons --save
-->

<!--
ng g s hospital/services/patient/patient
ng g s hospital/services/contact/contact
ng g s hospital/services/login/login
ng g class hospital/util/Utils
ng g class hospital/models/contact
ng g class hospital/validations/InputValidation
ng g s hospital/services/doctor/doctor
ng g s hospital/services/admin/admin
ng g s hospital/services/history/history
ng g s hospital/services/appointment/appointment
ng g s hospital/services/shared/shared

ng g class hospital/models/patient
ng g class hospital/models/admin
ng g class hospital/models/PatientHistory
ng g class hospital/models/DoctorHistory
ng g class hospital/models/Appointment
ng g class hospital/models/User

ng g interceptor interceptor/Jwt
ng g interceptor interceptor/Error

ng g g hospital/guards/Auth


[options]: we can pass ‘ — flat’, ‘ — project’ and ‘ — skip-tests’. As name implies

ng g environments
-->
