<router-outlet></router-outlet>

<!--sudo ng add @ng-bootstrap/ng-bootstrap-->
<!--sudo npm i --save-dev @types/jquery-->
<!--sudo ng add angular-datatables-->

<!--npm install jquery --save
npm install datatables.net &#45;&#45;save
npm install datatables.net-dt &#45;&#45;save
npm install angular-datatables &#45;&#45;save
npm install @types/jquery &#45;&#45;save-dev
npm install @types/datatables.net &#45;&#45;save-dev

sudo npm i angular-datatables
sudo ng g interceptor interceptor/jwt
sudo ng g interceptor interceptor/error

ng g p pipes/SortSpecialist

ng g c hospital/components/contact --module=hospital/modules/contact/contact.module.ts
-->
